@font-face {
    font-family: mononoki;
    src: url('mononoki.woff2') format('woff2'),
	url('mononoki.woff') format('woff'),
	url('mononoki.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background1:  #202020;
    --background2:  #151515;
    --foreground:   #ebdbb2;
    --primary:      #d79921;
    --color0:       #101010;
    --color8:       #606060;
    --color7:       #a89984;
    --color15:      #ebdbb2;
}

body {
    max-width: 850px;
    margin: 10px auto;
    color: var(--foreground);
    background-color: var(--background1) ;
    font-family:mononoki ;
}

header {
    padding: 15px 0 5px 0;
    font-size: 16px;
    text-align: center;
    /*border-bottom: 1px dashed var(--foreground);*/
    line-height: 100%;
}

header > h1 {
    color: var(--primary);
    font-weight: bold;
    /* i really dont know how this shadow thing works */
    text-shadow: 2px 2px 2px var(--background);
    text-align: center;
}

header > img {
    width: 20%;
    border: 5px dashed var(--background1);
}

.menu-item {
    display: inline ;
    font-size: 16px;
    margin-right: 5%;
}

.menu-item > a {
    color: var(--foreground);
    text-decoration: none;
    margin: 0px 5px;
    font-weight: bold;
}

main {
    margin: 10px 0;
    padding: 20px 40px;
    color: var(--foreground);
    line-height: 1.25em;
    font-size: 14px;
}

footer {
    font-size: 10px;
    color: var(--color8);
    text-align: center;
}

a, .menu-item > a:hover {
    color: var(--primary);
}

a:hover{
    color: var(--color15);
    text-decoration: underline;
}


h1 {
    text-align: center;
}

h1, h2, h3 {
    color: var(--primary);
}

img {
    display: block ;
    margin: auto ;
    width: 100% ;
}

.ar {
    font-family: DejaVu Sans ;
    direction: rtl ;
}

/* similar to  https://getimiskon.xyz/ */
header, main {
    background-color: var(--background2);
    border: 5px dashed var(--background1);
}
